@page
@model Assignment13750.Pages.Login.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Credentials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.IsTeacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.IsTeacher)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Credentials.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
